<div class="card mb-4" style="max-width: 400px;">
    <div class="card-body">
        <h5 class="card-title">{{ contacto.nombre }}</h5>
        <p class="card-text"><strong>Teléfono:</strong> {{ contacto.telefono }}</p>
        {% if contacto.provincia %}
            <p class="card-text"><strong>Provincia:</strong> {{ contacto.provincia.nombre }}</p>
        {% endif %}
        <p class="card-text"><strong>E-mail:</strong> {{ contacto.email }}</p>
    </div>
</div>
