{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenido a la aplicación</h1>

<div style="margin-top:20px;">
    {% if app.user %}
        <p>Hola, {{ app.user.username }}!</p>
        <a href="{{ path('app_logout') }}">
            <button>Cerrar sesión</button>
        </a>
    {% else %}
        <a href="{{ path('app_login') }}">
            <button>Login</button>
        </a>
        <a href="{{ path('app_register') }}">
            <button>Register</button>
        </a>
    {% endif %}
</div>
{% endblock %}
